body {
  background: #343a40 !important;
}
.card {
  display: inline-block;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 2em;
}
.card {
  border: none;
  border-radius: 15px;
  box-shadow: 7px -7px 14px #0d0e10, -7px 7px 14px #333842;
}
.card:active {
  box-shadow: inset 7px -7px 14px #0d0e10, inset -7px 7px 14px #333842;
}
.card-img-top {
  border-radius: 10px;
  width: 90%;
  margin: 5%;
}
.logo {
  height: 50px !important;
  margin: 0 40%;
}
#nav-bar .form-inline {
  margin-right: 60px;
}
.paginator-wrapper {
  display: flex;
  justify-content: center;
}
.error {
  display: flex;
  justify-content: center;
  margin: 6em 0;
  color: wheat;
}
@media only screen and (max-width: 513px) {
  img.logo {
    margin: 0;
  }
  #nav-bar .mr-auto {
    margin: 0 !important;
  }
  .navbar {
    justify-content: center;
  }
  #nav-bar .form-inline {
    flex-flow: row nowrap;
    margin-right: 0;
  }
  #nav-bar .form-inline button {
    margin-left: 10px;
  }
}
